<div class="flex flex-col items-center justify-start p-5">
<div class="bg-gradient-to-br from-white to-[#ccc] rounded-3xl shadow-xl min-w-[60%] max-w-[80%] px-[70px] py-[60px]">
  <h1 class="text-4xl font-semibold text-gray-800 mb-4">Gerenciar Categorias</h1>
  
  <button
    (click)="abrirFormulario()"
    class="bg-mm hover:bg-mm-dark h-[46px] px-4 rounded-xl transition font-regular 
      text-white text-md cursor-pointer hover:shadow-xl hover:shadow-mm-shadow 
      hover:scale-[102%] active:scale-95 active:shadow-none text-nowrap mb-4"
  >
    + Nova Categoria
  </button>
  
  <div
    *ngIf="formVisivel"
    class="bg-gray-50 border-2 mb-10 border-mm rounded-3xl shadow-xl p-6 w-[60%]"
  >
    <h2 class="text-2xl font-semibold text-mm mb-5 poppins">
      {{ editando ? 'Editar Categoria' : 'Nova Categoria' }}
    </h2>
    <input
      type="text"
      [(ngModel)]="categoria.nome"
      placeholder="Digite o nome da categoria"
      #nome="ngModel"
      class="border-gray-400 mb-5 rounded-lg border placeholder:text-gray-400 overflow-hidden h-10 px-3 transition w-full focus:border-mm focus:shadow-xl focus:shadow-mm-shadow hover:border-mm"
    />
    <div class="flex justify-center gap-3">
      <button
        (click)="salvar()"
        class="bg-green-600 hover:bg-green-700 h-[46px] px-4 rounded-xl transition font-regular 
      text-white text-md cursor-pointer hover:shadow-xl
      hover:scale-[102%] active:scale-95 active:shadow-none text-nowrap"
      >
        Salvar
      </button>
      <button
        (click)="cancelar()"
        class="bg-red-600 hover:bg-red-700 h-[46px] px-4 rounded-xl transition font-regular 
      text-white text-md cursor-pointer hover:shadow-xl
      hover:scale-[102%] active:scale-95 active:shadow-none text-nowrap"
      >
        Cancelar
      </button>
    </div>
  </div>
  
  <h2 class="text-2xl font-semibold text-mm mb-5 mt-3 poppins">Lista de Categorias</h2>
    <div class="overflow-x-auto shadow-lg shadow-black/20 rounded-xl">
      <table class="min-w-full bg-white rounded-xl overflow-hiddene">
        <thead class="bg-mm text-white">
          <tr>
            <th class="py-3 px-6 text-left font-bold">Nome</th>
            <th class="py-3 px-6 text-center font-bold">Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let categoria of categorias"
            class="hover:bg-gray-50 transition-colors"
          >
            <td class="border-t-2 border-gray-200 py-3 px-6">{{ categoria.nome }}</td>
            <td class="border-t-2 border-gray-200 py-3 px-6 text-center">
              <button
                (click)="editarForm(categoria)"
                class="bg-yellow-500 hover:bg-yellow-600 h-[46px] px-4 rounded-xl transition font-regular 
                  text-white text-md cursor-pointer hover:shadow-xl
                  hover:scale-[102%] active:scale-95 active:shadow-none text-nowrap mr-4"
              >
                Editar
              </button>
              <button
                (click)="abrirModalRemocao($event, categoria)"
                class="bg-red-600 hover:bg-red-700 h-[46px] px-4 rounded-xl transition font-regular 
                text-white text-md cursor-pointer hover:shadow-xl
                hover:scale-[102%] active:scale-95 active:shadow-none text-nowrap"
              >
                Remover
              </button>
            </td>
          </tr>
          <tr *ngIf="categorias.length === 0">
            <td colspan="2" class="p-4 text-center text-gray-500 border border-gray-300">
              Nenhuma categoria cadastrada.
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

@if(modalRemocaoAberto && categoriaParaRemover){
  <div class="fixed inset-0 z-50 flex items-center justify-center bg-black/50" (click)="fecharModalRemocao()">
    <div
      class="relative w-min rounded-3xl bg-gradient-to-br from-white to-[#ccc] px-10 pt-9 pb-7 shadow-xl"
      (click)="$event.stopPropagation()"
    >
      <button (click)="fecharModalRemocao()"
        class="absolute top-4 left-4 text-gray-200 hover:text-red-500 text-3xl cursor-pointer hover:font-bold transition">
        &times;
      </button>
      <div class="mb-6 mt-2 text-center">
        <h2 class="poppins text-3xl font-semibold text-nowrap text-gray-800">
          Deseja mesmo remover <br />
          a categoria <span class="text-danger">{{ categoriaParaRemover.nome }}</span>?
        </h2>
      </div>

      <div class="flex justify-center">
        <button
          class="bg-gray-500 text-center hover:bg-gray-600 font-regular text-md h-[46px] mr-3 cursor-pointer rounded-xl px-4 text-white transition hover:scale-[102%] hover:shadow-xl active:scale-95"
          (click)="fecharModalRemocao()"
        >
          Cancelar
        </button>

        <button
          class="bg-danger hover:bg-danger-dark font-regular text-md h-[46px] cursor-pointer rounded-xl px-4 text-white transition hover:scale-[102%] hover:shadow-xl active:scale-95"
          (click)="removerCategoriaConfirmada()"
        >
          Remover
        </button>
      </div>
    </div>
  </div>
}