/*
    /-------------------/
   /  Modal Styling    /
  /-------------------/
*/

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 600px;
  position: relative;
  font-family: Manrope, sans-serif;
}

.modal-close-button {
  position: absolute;
  top: 10px;
  left: 10px;
  background: none;
  border: none;
  font-size: 1.5rem;
  font-weight: 800;
  cursor: pointer;
  color: lightslategrey;
}

.modal-header {
  text-align: center;
  margin-bottom: 20px;
}

.modal-title {
  font-weight: 800;
  font-size: 1.5rem;
  color: #333;
}

.modal-body {
  margin-bottom: 20px;
  line-height: 1.6;
}

.solicitacao-info, .orcamento-info {
  margin-bottom: 15px;
}

.orcamento-info h3 {
  font-weight: bold;
  color: #555;
}

.modal-footer {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.btn-rejeitar, .btn-aprovar {
  border: none;
  color: white;
  background-color: lightslategrey;
  border-radius: 10px;
  padding: 0.5rem 1.5rem;
  font-weight: 500;
  cursor: pointer;
  transition: 0.7s;
}

.btn-rejeitar:hover {
  background-color: darkred;
}

.btn-aprovar:hover {
  background-color: darkgreen;
}