@if(solicitacao){

<main>
  <div
    class="fixed inset-0 z-50 flex justify-center items-start overflow-y-auto bg-black/50 py-20"
    (click)="onFecharModal()"
  >
    <div
      class="bg-gradient-to-br from-white to-[#ccc] p-8 rounded-3xl shadow-xl max-w-lg w-full relative"
      (click)="$event.stopPropagation()"
    >
      <button
        (click)="onFecharModal()"
        class="absolute top-4 left-4 text-gray-200 hover:text-red-500 text-3xl cursor-pointer hover:font-bold transition">
          &times;
      </button>

      <header class="text-center mb-6">
        <h2 class="text-3xl font-semibold text-gray-800 poppins">
          Detalhes da Solicitação
        </h2>
      </header>

      <section class="space-y-4">
        <div class="p-4 rounded-xl bg-gray-50 border border-gray-300">
          <p class="text-md text-gray-600">
            Dispositivo:
            <span class="font-semibold">{{ solicitacao.descricaoEquipamento }}</span>
          </p>
          <p class="text-md text-gray-600">
            Descrição:
            <span class="font-semibold">{{ solicitacao.descricaoDefeito }}</span>
          </p>
          <p class="text-md text-gray-600">
            Data da solicitação:
            <span class="font-semibold">{{ solicitacao.dataHoraAbertura }}</span>
          </p>

          @if (solicitacao.status !== "ABERTA" && solicitacao.funcionario) {

          <p class="text-md text-gray-600">
            Funcionário:
            <span class="font-semibold">{{
              solicitacao.funcionario.nome
            }}</span>
          </p>
          }
        </div>

        @if (solicitacao.status !== "ABERTA" ) {

        <div class="p-4 rounded-xl bg-gray-100 border border-gray-300">
          <h3 class="text-lg font-bold text-gray-700">Orçamento</h3>
          <p class="text-md text-gray-600">
            Valor:
            <span class="font-semibold">
              R$ {{ solicitacao.orcamento }},00</span
            >
          </p>
        </div>
        }

        <div class="p-4 rounded-xl bg-gray-100 border border-gray-300">
          <h3 class="text-lg font-bold text-gray-700">Histórico de status</h3>
          <ul>
            @for (h of historico; track h.status){
              <li class="py-3 flex items-center border-t mt-2 border-gray-300">
                <p class="font-semibold mr-6">{{ h.dataHora.substring(0, 10)}}</p>
                <p class="font-semibold mr-6">{{ h.dataHora.substring(12) }}</p>
                <p [ngClass]="statusClasses(h.status)">
                  {{ h.status}}
                </p>
                <p class="font-semibold mr-6">{{ h.funciOrigem.nome }}</p>
              </li>
            } 
          </ul>
        </div>
      </section>

      <footer class="flex justify-center gap-4 mt-8">
        @switch (solicitacao.status) { @case ('ABERTA'){

        <button
          (click)="abrirModal('deletar')"
          class="bg-danger hover:bg-red-700 h-[46px] px-4 rounded-xl transition font-regular text-white text-md cursor-pointer hover:shadow-xl hover:scale-[102%] active:scale-95 active:shadow-none text-nowrap"
        >
          Deletar Solicitação
        </button>
        <button
          (click)="abrirModal('editar')"
          class="bg-mm hover:bg-mm-dark h-[46px] px-4 rounded-xl transition font-regular text-white text-md cursor-pointer hover:shadow-xl hover:scale-[102%] active:scale-95 active:shadow-none text-nowrap"
        >
          Editar Solicitação
        </button>

        } @case ('ORCADA') {
        <button
          (click)="abrirModal('rejeitar')"
          class="bg-danger hover:bg-red-700 h-[46px] px-4 rounded-xl transition font-regular text-white text-md cursor-pointer hover:shadow-xl hover:scale-[102%] active:scale-95 active:shadow-none text-nowrap"
        >
          Rejeitar
        </button>
        <button
          (click)="abrirModal('aprovar')"
          class="bg-green-600 hover:bg-green-700 h-[46px] px-4 rounded-xl transition font-regular text-white text-md cursor-pointer hover:shadow-xl hover:scale-[102%] active:scale-95 active:shadow-none text-nowrap"
        >
          Aprovar
        </button>
        } @case ('ARRUMADA') {
        <button
          (click)="pagarServico()"
          class="bg-green-600 hover:bg-green-700 h-[46px] px-4 rounded-xl transition font-regular text-white text-md cursor-pointer hover:shadow-xl hover:scale-[102%] active:scale-95 active:shadow-none text-nowrap"
        >
          Pagar
        </button>
        } @case ('REJEITADA') {
        <button
          (click)="resgatarServico()"
          class="bg-mm hover:bg-mm-dark h-[46px] px-4 rounded-xl transition font-regular text-white text-md cursor-pointer hover:shadow-xl hover:scale-[102%] active:scale-95 active:shadow-none text-nowrap"
        >
          Resgatar
        </button>
        } @default {
        <button
          (click)="onFecharModal()"
          class="bg-gray-500 hover:bg-gray-600 h-[46px] px-4 rounded-xl transition font-regular text-white text-md cursor-pointer hover:shadow-xl hover:scale-[102%] active:scale-95 active:shadow-none text-nowrap"
        >
          Fechar
        </button>
        } }
      </footer>
    </div>
  </div>

  @if(modalAberto === 'deletar'){
  <app-deletar-solicitacao
    [solicitacao]="solicitacao!"
    (fecharModal)="fecharSubModal()"
    (operacaoConcluida)="notificarOperacao()"
  ></app-deletar-solicitacao>

  } 
  @if(modalAberto === 'editar'){
  <app-editar-solicitacao
    [solicitacao]="solicitacao!"
    (fecharModal)="fecharSubModal()"
  ></app-editar-solicitacao>
  } 
  @if(modalAberto === 'rejeitar'){

  <app-rejeitar-orcamento
    [solicitacao]="solicitacao!"
    (fecharModal)="fecharSubModal()"
    (operacaoConcluida)="notificarOperacao()"
  ></app-rejeitar-orcamento>
  }
  @if(modalAberto === 'aprovar'){
    <app-modais-confirmacao 
      [tipoModalSolicitacao]="'aprovarServico'" 
      [valor]="solicitacao.orcamento ?? 0"
      (fechar)="fecharSubModal(); aprovarServico(); notificarOperacao()"
    ></app-modais-confirmacao>
  }
</main>

}
