<div class="flex flex-col items-center justify-start p-5">
<div class="bg-gradient-to-br from-white to-[#ccc] rounded-3xl shadow-xl min-w-[60%] max-w-[80%] px-[70px] py-[60px]">
  <h1 class="text-4xl font-semibold text-gray-800 mb-4">Gerenciar funcionários</h1>
  
  <!-- Botão Nova funcionario -->
  <button
    (click)="abrirFormulario()"
    class="bg-mm hover:bg-mm-dark h-[46px] px-4 rounded-xl transition font-regular 
      text-white text-md cursor-pointer hover:shadow-xl hover:shadow-mm-shadow 
      hover:scale-[102%] active:scale-95 active:shadow-none text-nowrap mb-4"
  >
    + Novo funcionário
  </button>
  
  <!-- Formulário -->
  <div
    *ngIf="formVisivel"
    class="bg-gray-50 border-2 mb-10 border-mm rounded-3xl shadow-xl p-6 w-full"
  >
    <h2 class="text-2xl font-semibold text-mm mb-5 poppins">
      {{ editando ? 'Editar funcionário' : 'Novo funcionário' }}
    </h2>
    <div class="flex gap-3">
      <div class="flex flex-col">
        <p>Nome</p>
        <input
          type="text"
          [(ngModel)]="funcionario.nome"
          placeholder="Digite o nome"
          #nome="ngModel"
          class="border-gray-400 mb-5 rounded-lg border placeholder:text-gray-400 overflow-hidden h-10 px-3 transition w-full focus:border-mm focus:shadow-xl focus:shadow-mm-shadow hover:border-mm"
        />
      </div>
      <div class="flex flex-col">
        <p>E-mail</p>
        <input
          type="text"
          [(ngModel)]="funcionario.email"
          placeholder="email@email.com"
          #nome="ngModel"
          class="border-gray-400 mb-5 rounded-lg border placeholder:text-gray-400 overflow-hidden h-10 px-3 transition w-full focus:border-mm focus:shadow-xl focus:shadow-mm-shadow hover:border-mm"
        />
      </div>
      <div class="flex flex-col">
        <p>Data de Nascimento</p>
        <input
          type="text"
          [(ngModel)]="funcionario.dataNasc"
          placeholder="01/01/2000"
          #nome="ngModel"
          class="border-gray-400 mb-5 rounded-lg border placeholder:text-gray-400 overflow-hidden h-10 px-3 transition w-full focus:border-mm focus:shadow-xl focus:shadow-mm-shadow hover:border-mm"
        />
      </div>
      <div class="flex flex-col">
        <p>Senha</p>
        <input
          type="text"
          [(ngModel)]="funcionario.senha"
          placeholder="Digite a senha"
          #nome="ngModel"
          class="border-gray-400 mb-5 rounded-lg border placeholder:text-gray-400 overflow-hidden h-10 px-3 transition w-full focus:border-mm focus:shadow-xl focus:shadow-mm-shadow hover:border-mm"
        />
      </div>
    </div>
    <div class="flex justify-center gap-3">
      <button
        (click)="salvar()"
        class="bg-green-600 hover:bg-green-700 h-[46px] px-4 rounded-xl transition font-regular 
      text-white text-md cursor-pointer hover:shadow-xl
      hover:scale-[102%] active:scale-95 active:shadow-none text-nowrap"
      >
        Salvar
      </button>
      <button
        (click)="cancelar()"
        class="bg-red-600 hover:bg-red-700 h-[46px] px-4 rounded-xl transition font-regular 
      text-white text-md cursor-pointer hover:shadow-xl
      hover:scale-[102%] active:scale-95 active:shadow-none text-nowrap"
      >
        Cancelar
      </button>
  </div>
  </div>
  
  <!-- Listagem -->
    <h2 class="text-2xl font-semibold text-mm mb-5 mt-3 poppins">Lista de Funcionários</h2>
    <div class="overflow-x-auto shadow-lg shadow-black/20 rounded-xl">
      <table class="min-w-full bg-white rounded-xl overflow-hidden">
        <thead class="bg-mm text-white">
          <tr>
            <th class="py-3 px-6 text-left font-bold">Nome</th>
            <th class="py-3 px-6 text-left font-bold">E-mail</th>
            <th class="py-3 px-6 text-left font-bold">Data de Nascimento</th>
            <th class="py-3 px-6 text-left font-bold">Senha</th>
            <th class="py-3 px-6 text-center font-bold">Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let funcionario of funcionarios"
          >
          <td class="border-t-2 border-gray-200 py-3 px-6">{{ funcionario.nome }}</td>
            <td class="border-t-2 border-gray-200 py-3 px-6">{{ funcionario.email }}</td>
            <td class="border-t-2 border-gray-200 py-3 px-6">{{ funcionario.dataNasc }}</td>
            <td class="border-t-2 border-gray-200 py-3 px-6">{{ funcionario.senha }}</td>
            <td class="border-t-2 border-gray-200 py-3 px-6 text-center">
              <button
                (click)="editarForm(funcionario)"
                class="bg-yellow-500 hover:bg-yellow-600 h-[46px] px-4 rounded-xl transition font-regular 
                  text-white text-md cursor-pointer hover:shadow-xl
                  hover:scale-[102%] active:scale-95 active:shadow-none text-nowrap mr-4"
              >
                Editar
              </button>
              <button
                (click)="remover($event, funcionario)"
                class="bg-red-600 hover:bg-red-700 h-[46px] px-4 rounded-xl transition font-regular 
                text-white text-md cursor-pointer hover:shadow-xl
                hover:scale-[102%] active:scale-95 active:shadow-none text-nowrap"
              >
                Remover
              </button>
            </td>
          </tr>
          <tr *ngIf="funcionarios.length === 0">
            <td colspan="5" class="p-4 text-center text-gray-500 border border-gray-300">
              Nenhum funcionário cadastrado.
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>