/*
    /---------------/
   /  HEADER PAGE  /
  /---------------/  

*/


main{
    background: linear-gradient(120deg, #1A467E 23.23%,#3D80BF 71.79%);
    height: 100vh;
    width: 100vw;
}

.bold{
    font-weight: bold;
}


.roxo    { color: #800080; font-weight: bold;}
.azul    { color: #0000FF; font-weight: bold;}
.verde   { color: #008000; font-weight: bold;}
.cinza   { color: #808080; font-weight: bold;} 
.marrom  { color: #A52A2A; font-weight: bold;}
.laranja { color: #FFA500; font-weight: bold;}
.amarelo { color: #FFD025; font-weight: bold;}
.vermelho{ color: #FF0000; font-weight: bold;}


.titulo{
    text-align: center;
}

header{
    background-color: white;
    color: white;
    padding-bottom: 8px;
}

.header-content{

    background: linear-gradient(90.33deg, #3D80BF 2.39%, #1A467E 51.42%);
    font-size: 2.25rem;
    height: 126px;
    width: 100%;
    padding: 10px;  
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    
}

.nome{
    margin: 10px;
    margin-left: 50px;
    color: white;
    font-weight: bold;
}

header nav{
    margin: 15px;
}

header nav button{ 
    color: white;
    background-color: #2D89CB;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 15px;
    border-radius: 15px;
    height: 59px;
    margin-left: 1.5rem;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
}

header nav :hover{
    background-color: #2e6892;
    transition: 0.2s;
    cursor: pointer;
}

/*
    /-----------------/
   /  TABLE SECTION  /
  /-----------------/  
  
*/


.solicitacoes{
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    margin: 10px;
    margin-left: 50px;
    padding: 10px;
}

.solicitacoes h2{
    color: white;
    font-size: 2rem;
    font-weight: bold;

}

table{
    border-collapse: collapse;
    background-color: #fff;
    border-color: black;
    border: 3px solid #2d89CB;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
    
}

table th, table td {
    border: 1px solid #2D89CB;
    /* padding: 8px; */
    text-align: center;
}




th{
    color: white;
    font-size: 1.5rem;
    padding: 20px;
    font-weight: bold;
    background-color: #2D89CB;
}

.colunas{
    font-size: 1.2rem;
    padding: 20px;
}

/*
    /--------------------/
   /  ORÇAMENTO BUTTON  /
  /--------------------/  
  
*/


.efetuar_orcamento button{
    border: none;
    color: white;
    background-color: #2D89CB;
    border-radius: 20px;
    width: 198px;
    height: 43px;
    
    padding: 12px;

}

.efetuar_orcamento :hover{

    background-color: #316f9b;
    cursor: pointer;
    transition: 0.2s;

}
