/*
    /---------------/
   /  HEADER PAGE  /
  /---------------/  

*/


main{
    background: linear-gradient(120deg, #1A467E 23.23%,#3D80BF 71.79%);
    height: 100vh;
    width: 100vw;
}

.titulo{
    text-align: center;
}

header{
    background-color: white;
    color: white;
    padding-bottom: 8px;
}

.header-content{

    background: linear-gradient(90.33deg, #3D80BF 2.39%, #1A467E 51.42%);
    font-size: 2.25rem;
    height: 126px;
    width: 100%;
    padding: 10px;  
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    
}

.nome{
    margin: 10px;
    margin-left: 50px;
    color: white;
    font-weight: bold;
}

header nav{
    margin: 15px;
}

header nav button{ 
    color: white;
    background-color: #2D89CB;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 15px;
    border-radius: 15px;
    height: 59px;
    margin-left: 1.5rem;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5rem;
}

header nav :hover{
    background-color: #2e6892;
    transition: 0.2s;
    cursor: pointer;
}

/*
    /-----------------/
   /  TABLE SECTION  /
  /-----------------/  
  
*/

.header-table{
    display: flex;
    justify-content: space-between;
}

.filtro{
    display: flex;
    justify-content: space-around;
    margin-right: 30px;
}

.selecionar-datas{
    display: flex;
}

.titulo-periodo{
    font-size: 1rem;
}

.selecionar{
    background-color: white;
    color: black;
    border: 2px solid #2D89CB;
    border-radius: 8px;
    margin: 10px;
}

.solicitacoes{
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    margin: 10px;
    margin-left: 50px;
    padding: 10px;
}

.solicitacoes h2{
    color: white;
    font-size: 2rem;
    font-weight: bold;

}

table{
    border-collapse: collapse;
    background-color: #fff;
    border-color: black;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);   
}

table th, table td {
    border: 1px solid #2D89CB;
    padding: 8px;
    text-align: center;
    font-weight: bold;
}

th{
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    background-color: #2D89CB;
}

.colunas{
    font-size: 1.5rem;
}

.status{
    color: #515151;
}

/*
    /--------------------/
   /  ORÇAMENTO BUTTON  /
  /--------------------/  
  
*/


.efetuar_orcamento button, .filtrarDatas{
    border: none;
    color: white;
    background-color: #2D89CB;
    border-radius: 20px;
    width: 198px;
    height: 43px;
    
    padding: 12px;

}

.efetuar_orcamento :hover, .filtrarDatas :hover{

    background-color: #316f9b;
    cursor: pointer;
    transition: 0.2s;

}