<div class="flex flex-col items-center justify-start p-5">
  <div class="bg-gradient-to-br from-white to-[#ccc] rounded-3xl shadow-xl min-w-[60%] max-w-[80%] px-[70px] py-[60px]">
      
      <h1 class="text-4xl font-semibold text-gray-800 mb-5 poppins">Solicitações</h1>
      <h2 class="text-2xl font-semibold text-mm mb-5 poppins">Todas as Solicitações</h2>
      
      <div class="flex items-center justify-between mb-6">
          <div class="flex items-center gap-3">
              <span class="font-semibold">Filtrar por:</span>
              <select (change)="mudarFiltro($any($event.target).value)"
                  class="border-gray-400 rounded-lg border placeholder:text-gray-400 h-10 px-3 transition w-min focus:border-mm focus:shadow-xl focus:shadow-mm-shadow hover:border-mm cursor-pointer hover:shadow-md">
                  <option value="todas">Todas</option>
                  <option value="hoje">Hoje</option>
                  <option value="entreDatas">Período de datas</option>
              </select>
          </div>
          
          @if(filtro === 2){
              <div class="flex items-center gap-3">
                  <span class="font-semibold">De:</span>
                  <input type="date" [(ngModel)]="dataInicioFiltro"
                      class="border-gray-400 rounded-lg border h-10 px-3 transition focus:border-mm focus:shadow-xl focus:shadow-mm-shadow hover:border-mm cursor-pointer hover:shadow-md" />
                  
                  <span class="font-semibold">Até:</span>
                  <input type="date" [(ngModel)]="dataFimFiltro"
                      class="border-gray-400 rounded-lg border h-10 px-3 transition focus:border-mm focus:shadow-xl focus:shadow-mm-shadow hover:border-mm cursor-pointer hover:shadow-md" />
                  
                  <button (click)="filtrarSolicitacoesPorData()"
                      class="bg-mm hover:bg-mm-dark h-10 px-4 rounded-xl transition font-regular text-white text-md cursor-pointer hover:shadow-xl hover:shadow-mm-shadow hover:scale-[102%] active:scale-95 active:shadow-none text-nowrap">
                      Filtrar
                  </button>
              </div>
          }
      </div>

      <div class="overflow-x-auto shadow-lg shadow-black/20 rounded-xl">
          <table class="min-w-full bg-white rounded-xl overflow-hidden">
              <thead class="bg-mm text-white">
                  <tr>
                      <th class="py-3 px-6 text-left font-bold">Data da solicitação</th>
                      <th class="py-3 px-6 text-left font-bold">Cliente</th>
                      <th class="py-3 px-6 text-left font-bold">Equipamento</th>
                      <th class="py-3 px-6 text-left font-bold">Descrição</th>
                      <th class="py-3 px-6 text-left font-bold">Status</th>
                      <th class="py-3 px-6 text-center font-bold"></th>
                  </tr>
              </thead>
              <tbody>
                  @for (solicitacao of solicitacoesFiltradas; track solicitacao.idSolicitacao) {
                      <tr class="hover:bg-gray-50 transition-colors">
                          <td class="border-t-2 border-gray-200 py-3 px-6">{{ solicitacao.dataHoraAbertura}}</td>
                          <td class="border-t-2 border-gray-200 py-3 px-6">{{ solicitacao.cliente.nome }}</td>
                          <td class="border-t-2 border-gray-200 py-3 px-6">{{ solicitacao.descricaoEquipamento }}</td>
                          <td class="border-t-2 border-gray-200 py-3 px-6">{{ solicitacao.descricaoDefeito }}</td>
                          <td class="border-t-2 border-gray-200 py-3 px-6 text-md font-semibold">
                              <span [ngClass]="statusClasses(solicitacao.status.toUpperCase())">
                                  {{ solicitacao.status.toUpperCase() }}
                              </span>
                          </td>
                          <td class=" border-t-2 border-gray-200 py-3 px-6 text-center">
                            @switch (solicitacao.status) {
                                @case ('Aprovada') {
                                <button (click)="abrirModal(solicitacao)" class="bg-mm hover:bg-mm-dark h-[46px] w-full px-4 rounded-xl transition font-regular text-white text-md cursor-pointer hover:shadow-xl hover:shadow-mm-shadow hover:scale-[102%] active:scale-95 active:shadow-none text-nowrap">
                                    Efetuar Manutenção
                                </button>
                                }
                                @case ('Rejeitada') {
                                <button (click)="abrirModal(solicitacao)" class="bg-gray-400 hover:bg-gray-500 h-[46px] w-full px-4 rounded-xl transition font-regular text-white text-md cursor-pointer hover:shadow-xl hover:shadow-gray-100 hover:scale-[102%] active:scale-95 active:shadow-none text-nowrap">
                                    Ver Detalhes
                                </button>
                                <!-- <div class="flex items-center justify-center h-[46px] w-min">
                                    <p class="text-danger text-sm text-center font-bold">Orçamento rejeitado</p>
                                </div> -->
                                }
                                @case ('Redirecionada') {
                                <button (click)="abrirModal(solicitacao)" class="bg-mm hover:bg-mm-dark h-[46px] w-full px-4 rounded-xl transition font-regular text-white text-md cursor-pointer hover:shadow-xl hover:shadow-mm-shadow hover:scale-[102%] active:scale-95 active:shadow-none text-nowrap">
                                    Efetuar Manutenção
                                </button>
                                }
                                @case ('Paga') {
                                <button (click)="abrirModal(solicitacao)" class="bg-mm hover:bg-mm-dark h-[46px] w-full px-4 rounded-xl transition font-regular text-white text-md cursor-pointer hover:shadow-xl hover:shadow-mm-shadow hover:scale-[102%] active:scale-95 active:shadow-none text-nowrap">
                                    Finalizar Solicitação
                                </button>
                                }
                                @case ('Orçada') {
                                <button (click)="abrirModal(solicitacao)" class="bg-gray-400 hover:bg-gray-500 h-[46px] w-full px-4 rounded-xl transition font-regular text-white text-md cursor-pointer hover:shadow-xl hover:shadow-gray-100 hover:scale-[102%] active:scale-95 active:shadow-none text-nowrap">
                                    Ver Detalhes
                                </button>
                                }
                                @case ('Arrumada') {
                                <button (click)="abrirModal(solicitacao)" class="bg-gray-400 hover:bg-gray-500 h-[46px] w-full px-4 rounded-xl transition font-regular text-white text-md cursor-pointer hover:shadow-xl hover:shadow-gray-100 hover:scale-[102%] active:scale-95 active:shadow-none text-nowrap">
                                    Ver Detalhes
                                </button>
                                <!-- <div class="flex items-center justify-center h-[46px] w-min">
                                    <p class="text-orange-600 text-center text-sm font-bold">Aguardando Pagamento</p>
                                </div> -->
                                }
                                @case ('Finalizada') {
                                <button (click)="abrirModal(solicitacao)" class="bg-gray-400 hover:bg-gray-500 h-[46px] w-full px-4 rounded-xl transition font-regular text-white text-md cursor-pointer hover:shadow-xl hover:shadow-gray-100 hover:scale-[102%] active:scale-95 active:shadow-none text-nowrap">
                                    Ver Detalhes
                                </button>
                                }
                                @default {
                                <button (click)="abrirModal(solicitacao)" class="bg-mm hover:bg-mm-dark h-[46px] w-full px-4 rounded-xl transition font-regular text-white text-md cursor-pointer hover:shadow-xl hover:shadow-mm-shadow hover:scale-[102%] active:scale-95 active:shadow-none text-nowrap">
                                    Efetuar Orçamento
                                </button>
                                }
                            }
                          </td>
                      </tr>
                  }
                  @if( solicitacoesFiltradas.length === 0){
                        @if(filtro === 2){
                            <tr>
                                <td colspan="6" class="p-4 text-center text-gray-500 border border-gray-300">
                                    Nenhuma solicitação encontrada para o período selecionado.
                                </td>
                            </tr>
                        }
                        @if(filtro === 1){
                            <tr>
                                <td colspan="6" class="p-4 text-center text-gray-500 border border-gray-300">
                                    Nenhuma solicitação encontrada para hoje.
                                </td>
                            </tr>
                        }
                  }
                  @if (solicitacoes.length === 0){
                    <tr>
                        <td colspan="6" class="p-4 text-center text-gray-500 border border-gray-300">
                            Nenhuma solicitação.
                        </td>
                    </tr>
                  }
              </tbody>
          </table>
      </div>
  </div>
  
  @if (mostrarModalSolicitacao) {
      <app-visualizar-solicitacao [solicitacao]="solicitacaoSelecionada" (fecharModal)="fecharModal()"></app-visualizar-solicitacao>
  }

</div>