/*
    /---------------/
   /  HEADER PAGE  /
  /---------------/  

*/

.titulo{
    text-align: center;
}
header{
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;

}

header h2{
    margin: 0;
}

header nav a{ 
    color: white;
    background-color: lightslategrey;
    padding: 10px;
    border-radius: 20px;
    margin-left: 1.5rem;
    text-decoration: none;
    font-weight: 500;
}

header nav :hover{
    background-color: darkslategrey;
    transition: 0.7s;
}

/*
    /-----------------/
   /  TABLE SECTION  /
  /-----------------/  
  
*/


.solicitacoes{
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

table{
    width: 70%;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
    
}

table th, table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

table th {
    background-color: #f4f4f4;
    font-weight: bold;
}

/*
    /--------------------/
   /  ORÇAMENTO BUTTON  /
  /--------------------/  
  
*/


.ver_detalhes button{
    border: none;
    color: white;
    background-color: lightslategrey;
    border-radius: 10px;
    padding: 0.5rem;

}

.ver_detalhes :hover{

    background-color: darkslategrey;
    cursor: pointer;
    transition: 0.7s;

}
