/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

:root {
    font-family: Manrope;
}

h1{
    font-weight: 800;
}

input, textarea, select{
    outline: none;
}

.poppins{
    font-family: Poppins
}