<form [formGroup]="cadastroForm" (ngSubmit)="onSubmit()">
  <div class="flex items-center justify-center pt-10">
    <div class="w-full max-w-4xl px-[70px] py-[60px] bg-gradient-to-br from-white to-[#ccc] rounded-3xl shadow-xl">
      <div class="flex justify-center items-center">
        <div class="flex items-center justify-center rounded-full mb-6">
          <svg
            class="h-[164px] w-[240px]"
            viewBox="0 0 1600 1024"
            fill="url(#myGrad)"
            aria-hidden="true">
          
      </div>
      <div class="flex flex-col md:flex-row justify-around gap-10">
        <div class="flex-col w-full gap-3">
          <p class="text-gray-800 font-semibold text-4xl mb-2 select-none poppins">Cadastre-se</p>
          <p class="mb-5">Já tem conta?
            <a routerLink="/login" class="transition cursor-pointer text-mm hover:text-mm-dark hover:font-semibold">
              Faça login aqui.
            </a>
          </p>

          <p class="font-semibold text-md mb-2">CPF</p>
          <input type="text" mask="000.000.000-00" (input)="handleInput($event, cpfMask)"
            class="border-gray-400 mb-5 rounded-lg border placeholder:text-gray-400 overflow-hidden h-10 px-3 transition w-full focus:border-mm focus:shadow-xl focus:shadow-mm-shadow hover:border-mm"
            [class.border-red-500]="cpf?.invalid && cpf?.touched" placeholder="000.000.000-00"
            formControlName="cpf" />
          <div *ngIf="cpf?.invalid && cpf?.touched" class="text-red-500 text-sm -mt-4 mb-5">
            <p *ngIf="cpf?.errors?.['required']">O CPF é obrigatório.</p>
            <p *ngIf="cpf?.errors?.['cpfInvalido']">O CPF informado é inválido.</p>
          </div>

          <p class="font-semibold text-md mb-2">Nome</p>
          <input type="text"
            class="border-gray-400 mb-5 rounded-lg border placeholder:text-gray-400 overflow-hidden h-10 px-3 transition w-full focus:border-mm focus:shadow-xl focus:shadow-mm-shadow hover:border-mm"
            [class.border-red-500]="nome?.invalid && nome?.touched" placeholder="Digite seu nome"
            formControlName="nome" />
          <div *ngIf="nome?.invalid && nome?.touched" class="text-red-500 text-sm -mt-4 mb-5">
            <p *ngIf="nome?.errors?.['required']">O nome é obrigatório.</p>
            <p *ngIf="nome?.errors?.['minlength']">O nome deve ter no mínimo 3 caracteres.</p>
          </div>

    
          <div class="flex flex-row gap-3">
            <div class="w-[30%]">
              <p class="font-semibold text-md mb-2">Estado</p>
              <select class="border-gray-400 mb-5 rounded-lg border h-10 px-3 transition w-full focus:border-mm focus:shadow-xl"
                [class.border-red-500]="uf?.invalid && uf?.touched" formControlName="uf">
                <option value="AC">AC</option><option value="AL">AL</option><option value="AM">AM</option><option value="AP">AP</option><option value="BA">BA</option><option value="CE">CE</option><option value="DF">DF</option><option value="ES">ES</option><option value="GO">GO</option><option value="MA">MA</option><option value="MG">MG</option><option value="MS">MS</option><option value="MT">MT</option><option value="PA">PA</option><option value="PB">PB</option><option value="PE">PE</option><option value="PI">PI</option><option value="PR">PR</option><option value="RJ">RJ</option><option value="RN">RN</option><option value="RO">RO</option><option value="RR">RR</option><option value="RS">RS</option><option value="SC">SC</option><option value="SE">SE</option><option value="SP">SP</option><option value="TO">TO</option>
              </select>
            </div>
            <div class="w-full">
              <p class="font-semibold text-md mb-2">Cidade</p>
              <input type="text"
                class="border-gray-400 mb-5 rounded-lg border placeholder:text-gray-400 overflow-hidden h-10 px-3 transition w-full focus:border-mm focus:shadow-xl focus:shadow-mm-shadow hover:border-mm"
                [class.border-red-500]="cidade?.invalid && cidade?.touched" placeholder="Digite sua cidade"
                formControlName="cidade" />
            </div>
          </div>

          <div class="flex flex-row gap-3">
            <div class="w-[80%]">
              <p class="font-semibold text-md mb-2">Logradouro</p>
              <input type="text"
                class="border-gray-400 mb-5 rounded-lg border placeholder:text-gray-400 overflow-hidden h-10 px-3 transition w-full focus:border-mm focus:shadow-xl focus:shadow-mm-shadow hover:border-mm"
                [class.border-red-500]="logradouro?.invalid && logradouro?.touched" placeholder="Digite sua rua"
                formControlName="logradouro" />
            </div>
            <div class="w-[30%]">
              <
    </div>
  </div>
</form>

@if (mostrarModal) {
  <div
    class="fixed inset-0 z-50 flex justify-center items-center overflow-y-auto bg-black/50 py-20"
    (click)="fecharModal()"
  >
    <div
      class="bg-gradient-to-br from-white to-[#ccc] p-8 rounded-3xl shadow-xl w-min min-w-lg relative"
      (click)="$event.stopPropagation()"
    >
      <button
        (click)="fecharModal()"
        class="absolute top-4 left-4 text-gray-200 hover:text-red-500 text-3xl cursor-pointer hover:font-bold transition">
          &times;
      </button>
      <div class="text-center mb-2">
        <h2 class="text-3xl font-medium mt-3 text-gray-800 poppins">
          Conta criada com sucesso!
        </h2>
        <p class="mt-5">Enviamos um e-mail para você informando a senha para entrar na sua conta.</p>
        <button routerLink="/login"
          class="bg-mm h-[50px] w-[30%] mt-5 rounded-xl transition font-regular text-white text-lg cursor-pointer hover:shadow-xl hover:shadow-mm-shadow hover:bg-mm-dark hover:scale-[102%] active:scale-95 disabled:bg-gray-400 disabled:cursor-default disabled:scale-100 disabled:shadow-none">
          OK</button>
      </div>
    </div>
  </div>
}